ul {
    list-style: none;
}

a {
    text-decoration: none;

}

body {
    font-family: 'Rubik', sans-serif;
}

/* header block */
.header {
    max-width: 1440px;
    margin: 0 auto;
}

.header__wrapper {
    margin: 50px 150px 93px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.logo-text {
    display: flex;
    font-size: 20px;
    margin-left: 5px;
    font-weight: 500;
}

.header__menu-left a {
    display: flex;
}

.header__menu-left svg {
    position: relative;
    top: 11px;
}

.header__menu-middle {
    display: flex;
    gap: 40px;

}

.header__menu-middle li a {
    font-size: 16px;
    color: #4F5665;
    display: flex;
}


.header__menu-right {
    display: flex;
    justify-self: center;
    align-items: center;
}

.header__menu-right li {
    display: inline-block;
    vertical-align: middle;

}

.header__menu-right__in {
    font-size: 16px;
    font-weight: 500;

}

.header__menu-right__up button {
    margin-left: 30px;
    border: 1px solid #F53838;
    border-radius: 50px;
    background-color: #fff;
    padding: 13px 45px;
    font-size: 16px;
    
}

.header__menu-right__up button:hover {
    cursor: pointer;
}

.header__menu-right__up p {
    color: #F53838;
    margin: 0;
    font-weight: 500;
}

/* end header block */

/* hero block */

.hero{
    margin: 0 auto;
    width: 1440px;    
}
.hero h1{
    font-size: 50px;
    line-height: 70px;
    font-weight: 500;
}
.hero__wrapper{
    display: flex;
    justify-content:center;
    min-width: 1440px;
}
.hero__wrapper figcaption{
    max-width: 531px;
    margin: 0 40px 20px -40px;
}
.hero__wrapper p{
    color: #4F5665;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 50px;
}
.hero__wrapper button{
    width: 250px;
    height: 60px;
    background-color: #F53838;
    border-radius: 10px;
    border: 1px solid transparent;
    color: #fff;
    font-weight: 700;
}
/* end hero block */

/* quick info */
.quick-info{
    width: 1440px;
    margin: 0 auto;
}
.quick-info__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 105px;
}
.quick-info__wrapper ul{
    display: inline-flex;
    justify-content: space-between;
    gap: 240px;
    padding: 67.5px 112.5px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 10px;
    z-index: 10;
}
.quick-info__wrapper__section{
    display: inline-flex;
    align-items: center;  
    margin-right: -113px;
    height: 125px;

}
.quick-info__wrapper__section-3{
    margin-right: 0;
}
.quick-info__wrapper__section + .quick-info__wrapper__section{
    padding-left: 113px;
    border-left: 2.5px solid #EEEFF2;
}
.quick-info__wrapper svg{
    width: 24px;
    height: 24px;
    padding: 15px;    
    background-color: #FFECEC;
    border-radius: 70px;
}
.quick-info__wrapper__section span{
    margin-left: 36.5px;
    justify-content:center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}
.quick-info__wrapper__section h3{
    font-size: 25px;
    margin: 0;
}
.quick-info__wrapper__section p{
    color: #4F5665;
    font-size: 20px;
    margin: 0;
}
.quick-info__background{
    width: 1068px;
    height: 189px;
    background-color: #0D1025;
    border: 1px solid transparent;
    border-radius: 10px;
    opacity: 0.09;
    filter: blur(57px);
    position: relative;
    z-index: 5;
    bottom: 220px;
    left: 185px;
}

/* end quick info */
.icon-main-logo {
    width: 35px;
    height: 36px;
}

.footer {
    background-color: #F8F8F8;
}

.footer__icon-facebook {
    width: 20px;
    height: 20px;
    background-color: #F53838;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    margin-top: 20px;

}

.icon-facebook {
    width: 33px;
    height: 33px;
    position: relative;
    right: 5px;
    bottom: 5px;
}